{% extends 'base.html.twig' %}

{% block title %}Sandra Pla Libourel{% endblock %}

{% block body %}
<div style="background-image: url('{{ asset('build/images/background.jpg') }}')" class="home-page">
    {# <div class="background">
    <img class="background-img" src="" alt="color image background">
    </div> #}
    <div class="home-page-intro">
        <h1 class="name">Sandra Pla Libourel</h1>
        <h2 class="job-title">Développeuse web</h2>
    </div>
</div>
{% endblock %}
