{% extends 'base.html.twig' %}

{% block title %}A propos de moi{% endblock %}

{% block body %}

    <h1 class="about-title">Faisons connaissance</h1>
    <div class="about-section">
        <h2 class="about-section-title">{ Je suis }</h2>
        <p>Développeuse web passionée actuellement en reconversion professionnelle après une carrière dans l'hôtellerie.</p>
    </div>
    <div class="about-section">
        <h2 class="about-section-title">{ Mon parcours }</h2>
            <ul>
                <li>1... 2021 - "Développeur web & web mobile" - Wild Code School (Bordeaux)</li>
                <li>2... 2014 - "Master II Management & Direction hôtellerie/ Restauration" - Vatel (Paris)</li>
                <li>3... 2011 - "Licence Information & Communication" - Sorbonne Nouvelle Paris III (Paris)</li>
                <li>4... 2008 - "Baccalauréat Sciences Economiques & Sociales" - Lycée Français de Valencia (Espagne) </li>
            </ul>
    </div>
    <div class="about-section">
        <h2 class="about-section-title">{ Mes expériences }</h2>
            <ul>
                <li>5... "Réceptionniste" - 2019 - Best Western La Porte Des Châteaux (Loiret)</li>
                <li>6... "Agent d'escale" - 2018 - Easy Jet (Bordeaux)</li>
                <li>7... "Gouvernante" - 2014 / 2017 - Le Méridien Nice (Nice)</li>
                <li>8... "Gouvernante" - 2013 - Sofitel Paris La Défense - Stage fin d'études (Paris)</li>
            </ul>
    </div>
    <h2 class="about-section-title-languages">{ Je parle # en construction}</h2>
    <div class="about-section-languages">
        <div class="list-languages">
            <ul>
                <li>... "Fraçais"</li>
                <li>... "Espagnol"</li>
                <li>... "Anglais"</li>
            </ul>
        </div>
        <div class="list-languages">
            <ul>
                <li>... "PHP"</li>
                <li>... "Symfony"</li>
                <li>... "Mysql"</li>
            </ul>
        </div>
        <div class="list-languages">
            <ul>
                <li>... "PHP"</li>
                <li>... "Symfony"</li>
                <li>... "Mysql"</li>
            </ul>
        </div>
        <div class="list-languages">
            <ul>
                <li>... "PHP"</li>
                <li>... "Symfony"</li>
                <li>... "Mysql"</li>
            </ul>
        </div>
    </div
{% endblock %}