{% extends 'base.html.twig' %}

{% block title %}Editer le projet{% endblock %}

{% block body %}
    <h1>Editer le projet</h1>
    <div class="contact-form">
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <input class="btn-form" type='submit' value='Modifier'>
        {{ form_end(form) }}
    </div>
{% endblock %}