<footer class="footer">
<a class="github-link" target="_blank" href="https://github.com/sandraplalibourel"><i class="fab fa-github"></i></a>
<a class="linkedin-link" target="_blank" href="https://www.linkedin.com/in/sandra-plalibourel/"><i class="fab fa-linkedin-in"></i></a>
</footer>