<nav class="navbar-expand">
    <div class="navbar">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="menu-logo collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item dropdown">
                    <a id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-expanded="false">
                        <i class="fas fa-terminal"></i></a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <li><a class="dropdown-item" href="{{ path('home_page') }}">Accueil</a></li>
                        <li><a class="dropdown-item" href="{{ path('about') }}">A propos</a></li>
                        <li><a class="dropdown-item" href="{{ path('project') }}">Mes projets</a></li>
                        <li><a class="dropdown-item" href="{{ path('contact') }}">Contact</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>